/*Обнуление*/
* {
	margin: 0;
	border: 0;
	padding: 0;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active {
	outline: none;
}
a:focus, a:active {
	outline: none;
}
nav, footer, header, aside {
	display: block;
}
html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-family: serif;
	font-size: 20px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--Обнуление--*/
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium/gilroy-medium.eot');
	src: local('☺'),
		url('../fonts/gilroy-medium/gilroy-medium.woff') format('woff'),
		url('../fonts/gilroy-medium/gilroy-medium.ttf') format('truetype'),
		url('../fonts/gilroy-medium/gilroy-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/gilroy-bold/gilroy-bold.eot');
	src: local('☺'),
		url('../fonts/gilroy-bold/gilroy-bold.woff') format('woff'),
		url('../fonts/gilroy-bold/gilroy-bold.ttf') format('truetype'),
		url('../fonts/gilroy-bold/gilroy-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
img {
	max-width: 100%;
}
h2 {
	font-size: 34px;
	font-family: Gilroy-Bold;
	color: #070707;
}
.same_sections {
	max-width: 943px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 5px;
}
.section_all {
	font-family: Gilroy-Medium;
	font-size: 18px;
}
.section_head {
	padding: 32px 5px 0;
	margin: 0 auto;
}
.burger {
	display: none;
}
._head-menu {
	visibility: visible;
}
._head-menu ul {
	display: flex;
	justify-content: space-between;
	margin: 0 0 32px 0;
}
._head-menu a {
	color: #828282;
}
._head-menu a:hover {
	text-decoration: underline;
}
._head-menu li:first-child a {
	font-family: Gilroy-Bold;
	color: #070707;
}
._head-line {
	border: 1px solid #828282;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin: 0 0 39px 0;
}
._head-info {
	height: 118px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
}
.-info--H {
	height: 106px;
	max-width: 123px;
}
._head-info h1 {
	margin: -6px 0 0 0;
	display: block;
	color: #070707;
	font-family: Gilroy-Bold;
	font-size: 47px;
}
#Novik {
	position: relative;
	top: 12px;
}
#Novik_about {
	max-width: 155px;
	height: 44px;
	margin: 55px 0 0 0;
	line-height: 22px;
}
#lang {
	transform: rotate(-90deg);
	font-size: 16px;
	height: 20px;
	margin: 59px -24px 0 0;
}
#ru {
	color: #828282;
}
#ru:hover {
	text-decoration: underline 3px solid black;
}
#slash {
	font-family: Gilroy-Bold;
	color: #070707;
}
#eng {
	font-family: Gilroy-Bold;
	color: #070707;
}
#eng:hover {
	text-decoration: underline 3px solid black;
}
#burger {
	display: none;
}
#big {
	margin: 0 auto 104px;
}
#small {
	display: none;
	margin: 0 auto 83px;
}
.presection_about {
	background: #F6F6F6;
}
._about-title {
	max-width: 160px;
	margin: 120px auto 17px;
}
._about-info {
	margin: 0 auto 107px;
	max-width: 485px;
	height: 218px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
._about-info p {
	text-align: center;
}
._skills-title {
	max-width: 124px;
	margin: 91px auto 69px;
	text-align: center;
}
._skills-info {
	max-width: 227px;
	margin: 0 auto 83px;
	text-align: center;
}
._skills-programms {
	height: 206px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 110px 0;
}
._skills-programms a {
	display: block;
	margin: 24px 0 40px 0;
	max-width: 80px;
	height: 27px;
	text-align: center;
	font-size: 14px;
	color: #828282;
	font-family: Gilroy-Bold;
}
.-programms--blocks {
	max-width: 166px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.presection_porfolio {
	background: #F6F6F6;
}
.section_portfolio img {
	margin: 0 0 45px 0;
}
.section_portfolio a {
	text-decoration: underline;
	color: #000;
	display: block;
	margin: 0 auto 99px;
	text-align: center;
}
._portfolio-title {
	max-width: 132px;
	margin: 112px auto 47px;
}
._portfolio-girl a {
	max-width: 276px;
}
._porfolio-reebok a {
	max-width: 202px;
}
._portfolio-cam a {
	max-width: 259px;
	margin: 0 auto 96px;
}
.section_foot {
	padding: 114px 5px 123px;
}
._foot-Title {
	max-width: 145px;
	margin: 0 auto 20px;
	text-align: center;
}
._foot-info {
	max-width: 275px;
	margin: 0 auto 29px;
	text-align: center;
}
._foot-button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0 85px 0;
}
._foot-button button {
	width: 180px;
	height: 42px;
	border-radius: 20px;
	background: #000;
	display: block;
	text-align: center;
	color: white;
	font-family: Gilroy-Bold;
	font-size: 18px;
	transition: 0.3s;
}
._foot-button button:hover {
	background: #828282;
	color: #070707;
}
._foot-button button:active {
	background: #000;
	color: white;
	position: relative;
	top: 3px;
	left: 2px;
}
._foot-links {
	max-width: 342px;
	margin: 0 auto 45px;
	display: flex;
	justify-content: space-between;
	transition: 0.3s;
}
._foot-links a:hover {
	border-radius: 7px;
	background: #d1c8c8;
}
._foot-BottomInfo {
	max-width: 243px;
	margin: 0 auto;
	color: #828282;
	text-align: center;
	font-size: 14px;
}
@media screen and (max-width: 600px) {
	.same_sections {
		max-width: 316px;
	}

	.section_head {
		margin: 65px auto 0;
	}

	.burger {
		display: block;
		position: relative;
	}

	#burger-img {
		margin: 19px 0 0 283px;
	}

	._head-menu-mobile {
		display: none;
		position: absolute;
		border: 1px solid black;
		background: #FFF;
		z-index: 2;
		height: 812px;
		max-width: 316px;
	}

	.burger + img:hover ._head-menu-mobile {
		display: block;
	}

	._head-menu-mobile li {
		display: block;
		margin: 68px 0 0 26px;
	}

	._head-menu-mobile a {
		font-family: Gilroy-Bold;
		font-size: 34px;
		color: #828282;
	}

	._head-menu-mobile :first-child a {
		color: #000;
	}

	._head-menu-mobile a:hover {
		text-decoration: underline;
	}

	#krest {
		position: absolute;
		top: 66px;
		right: 28px;
	}

	#lang-mobile {
		width: 144px;
		transform: rotate(-270deg);
		font-size: 34px;
		position: absolute;
		bottom: 91px;
		right: -29px;
	}

	#slash-mobile {
		font-family: Gilroy-Bold;
	}

	#eng-mobile {
		color: #000;
	}

	._head-menu {
		display: none;
	}

	._head-info {
		margin: -33px 0 0 0;
		max-width: 156px;
		height: 174px;
		display: block;
		position: relative;
	}


	#Novik_about {
		margin: 23px 0 0 0;
	}

	#lang {
		display: none;
	}

	#big {
		display: none;
	}

	#small {
		margin: 37px 0 83px 0;
		display: block;
	}

	._about-title {
		margin: 81px auto 30px;
	}

	._about-info {
		margin: 0 auto 76px;
		max-width: 316px;
		height: 261px;
	}

	._skills-title {
		max-width: 88px;
		margin: 83px auto 50px;
	}

	._skills-info {
		margin: 0 auto 71px;
	}

	._skills-programms {
		flex-direction: column;
		height: 1067px;
		margin: 0 0 99px 0;
	}

	.-programms--blocks {
		margin: 0 auto;
	}

	.section_portfolio img {
		margin: 0 0 35px 0;
	}

	._portfolio-title {
		margin: 81px auto 65px;
	}

	._portfolio-cam p {
		margin: 0 auto 81px;
	}

	._foot-Title {
		margin: 82px auto 27px;
	}

	._foot-info {
		margin: 0 auto 39px;
	}

	._foot-button button {
		width: 100%;
	}

	._foot-button {
		margin: 0 0 48px 0;
	}

	._foot-links {
		margin: 0 auto 48px;
	}

	._foot-BottomInfo {
		margin: 0 auto 90px;
	}
}